<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<!--<head th:replace="fragments :: scripts-css"></head>-->

<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>

<h1> Create Event</h1>
<!--<nav th:replace="fragments :: navigation"></nav>-->

<!--<p th:text="${errorMsg}" style="color:red;"></p>-->
<!--<div th:replace="fragments :: styles"></div>-->

<form method="post" action="/events/create">
    <div class="form-group">
        <p> Enter Event Details: </p>
    </div>

    <div class="form-group">
        <label> Enter Event Name:
<!--            <input type="text" name="name" class="form-control">-->
            <input th:field="${event.name}" class="form-control">
        </label>
        <p class="error" th:errors="${event.name}"></p>
    </div>

    <div class="form-group">
        <label> Enter Event Description:
<!--            <input type="text" name="description" class="form-control">-->
            <input th:field="${event.description}" class="form-control">
        </label>
        <p class="error" th:errors="${event.description}"></p>
    </div>

    <div class="form-group">
        <label> Number of Attendees: <br>
<!--            &lt;!&ndash;            Changing to select box instead of textbox&ndash;&gt;-->
<!--                        <input th:field="${event.numberOfAttendees}" class="form-control">-->

<!--            <select name="${event.numberOfAttendees}">-->
                <select th:field="${event.numberOfAttendees}">
                <option value=1> 1 guest </option>
                <option value=2> 2 guests</option>
                <option value=3> 3 guests </option>
                <option value=4> 4 guests </option>
                <option value=5> 5 guests </option>
                <option value=6> 6 guest </option>
                <option value=7> 7 guests</option>
                <option value=8> 8 guests </option>
                <option value=9> 9 guests </option>
                <option value=10> 10 guests </option>
            </select>
        </label>
        <p class="error" th:errors="${event.numberOfAttendees}"></p>
    </div><br>

    <div class="form-group">
        <label> Enter Email:
<!--            <input type="text" name="contactEmail" class="form-control">-->
            <input th:field="${event.contactEmail}" class="form-control">
        </label>
        <p class="error" th:errors="${event.contactEmail}"></p>
    </div>

    <div class="form-group">
        <label> Enter Event Location:
            <!--            <input type="text" name="description" class="form-control">-->
            <input th:field="${event.location}" class="form-control">
        </label>
        <p class="error" th:errors="${event.location}"></p>
    </div>

    <div class="form-group">
        <label> Event Type:
            <select th:field="${event.type}">
                <option th:each="type : ${types}"
                        th:value="${type}"
                        th:text="${type.displayName}">
                </option>
            </select>
        </label>

<!--    <div class="form-group">-->
<!--        <label> Registration mandatory for the event?-->
<!--            &lt;!&ndash;            <input type="text" name="description" class="form-control">&ndash;&gt;-->
<!--            <input th:field="${event.needsRegistration}" class="form-control">-->
<!--        </label>-->
<!--&lt;!&ndash;        <p th:unless="${event.needsRegistration} and ${events.size()}">No Events!</p>&ndash;&gt;-->
<!--        <p class="error" th:errors="${event.needsRegistration}"></p>-->
<!--    </div>-->

    <div class="form-group">
        <input type="submit" value="Create Event" class="btn btn-success">
    </div>
</form>

</body>
</html>