<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments :: scripts-css"></head>
<body class="container">

    <h1>Displaying Events</h1>

    <nav th:replace="fragments :: navigation"></nav>

    <div>
        <h3>List of Events:</h3>
        <p th:unless="${events} and ${events.size()}">No Events!</p>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Number Of Attendees</th>
                <th>Click to Edit</th>

<!--                <th>Address</th>-->
<!--                <th>Images</th>-->
            </tr>
            </thead>

            <tr th:block th:each="event : ${events}">
                <td th:text="${event.id}"></td>
                <td th:text="${event.name}"></td>
                <td th:text="${event.description}"></td>
                <td th:text="${event.numberOfAttendees}"></td>
                <td>
                    <a th:href="@{/events/edit/{id}(id=${event.id})}"><input type="submit" value="Edit Event" class="btn btn-success"></a>
<!--                    <a th:href="@{/events/edit/${event.id}}"><input type="submit" value="Edit Event" class="btn btn-success"></a>-->
                </td>
            </tr>


<!--            <tr>-->
<!--                <td>-->
<!--                    <a th:href="@{/events/edit/{id} (id=${event.id})}"> Edit </a>&ndash;&gt;-->
<!--                    <a th:href="/events/edit"> Edit Events</a>-->
<!--                </td>-->
<!--            </tr>-->
        </table>
    </div>
</body>
</html>